@import url(/css/common/reset.css);
@import url(/css/common/header.css);
@import url(/css/common/footer.css);
/* .conatiner */
.container{
    width: 100%;
}
/* .container > .deatil */
.container .detail{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    box-sizing: border-box;
}
.container .detail .detail-con{
    flex-basis: 1300px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
}
.container .detail .detail-con .board-con{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.container .detail .detail-con .board-con h1{
    border-bottom: 2px solid #cccccc;
    text-align: start;
    font-size: 25px;
    padding: 10px 0;
}
.container .detail .detail-con .board-con>ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.container .detail .detail-con .board-con>ul>li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.container .detail .detail-con .board-con>ul>li a:not(.list){
  flex: 1;
  padding: 3px 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  font-size: 15px;
  border-radius: 0px;
  height: 20px;
  border-top: 1px solid #C7D3F4;
  border-right: 1px solid #C7D3F4;
  border-left: 20px solid #C7D3F4;
  border-bottom: 1px solid #C7D3F4;
  transition: all 0.3s;
}
.container .detail .detail-con .board-con>ul>li a:hover:not(.list){
    border-left-width: 1px;
}
.container .detail .detail-con .board-con>ul>li span{
    empty-cells: hide;
    line-height: 3n0px;
    padding: 5px 10px;
    text-align: center;
}
.container .detail .detail-con .board-con>ul>li span:nth-child(1){
    width: 200px;
    flex:1;
    background-color: #C7D3F4;
    font-size: 15px;
    font-weight: bold;
}
.container .detail .detail-con .board-con>ul>li span:nth-child(2){
    border: 1px solid #C7D3F4;
    flex:3;
}
.container .detail .detail-con .board-con>ul>li.list{
    flex:1;
    text-align: center;
    padding: 3px 0;
    font-size: 15px;
    transition: all 0.2s;
    background-color: #C7D3F4;
}
.container .detail .detail-con .board-con>ul>li.list a:hover{
    background-color: #AABDEF;
    color: #ffffff;
}