
<!--
/* fragments 안했어요 그냥 통  html 파일입니다 */

/*catfather49@gmail.com*/
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/admin/index.css}">
    <link rel="stylesheet" href="maincss.css">
    <title>Document</title>
</head>

<body>
<div class="header">
    <div class="top-nav">
        <div class="logo">
            <h1>로고</h1>
        </div>

        <ul>
            <th:block sec:authorize="hasAnyRole('ADMIN', 'SELLER')">
                <li><a href="/member/logout">로그아웃</a></li>
            </th:block>
            <li>상품 관리</li>
            <li><a href="/product/write">상품생성</a></li>
            <li>고객 관리</li>
        </ul>
    </div>
</div>
<div class="sideBar">
    <div class="sideBarTitle">
        <span> 사이드바 </span>
    </div>

    <th:block sec:authorize="isAnonymous()">
        <div class="loginInfo">
            <form action="admin/login">
                <input type="text" name="id" class="id">
                <input type="password" name="pw" class="pw">
                <button type="submit" class="loginBtn">login</button>
            </form>
        </div>
    </th:block>

    <th:block sec:authorize="hasAnyRole('SELLER', 'ADMIN')">
        <div class="loginInfo">
            <ul>
                <li>
                    <span th:text="${#authentication.principal.memberEntity.memberNickName}" class="data1 span"></span>님
                </li>
            </ul>
        </div>

    </th:block>

    <div class="sideBar-sec">
        <ul>
            <li>
                <a href="#">상품 생성</a>
                <ul>
                    <li>
                        <a href="product/write">상품생성</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">상품 관리</a>
                <ul>
                    <li>
                        <a href="/product/write">상품생성</a>
                    </li>
                    <li>
                        <a href="#">상품 리스트</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">고객 문의</a>
                <ul>
                    <li>
                        <a href="#">내 문의</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">주문 목록</a>
                <ul>
                    <li>
                        <a href="#">내 주문</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="main">
    <div class="container">
        <div class="main-section1">
            <ul>
                <li>
                    <a href="#">내 상품 문의 사항</a>
                </li>
                <li>
                    <a href="#">상품 관리</a>
                </li>
                <li>
                    <a href="/product/write">상품생성</a>
                </li>
                <li>
                    <a href="#">주문 목록</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="footer">
    <div class="nav">
        <a th:href="@{/}">
            <h2>CLOTH KEEPER</h2>
        </a>
        <ul class="menu">
            <li>개인정보처리방침</li>
            <li>영상정보처리기기 운영관리 방침</li>
            <li>홈페이지 이용약관</li>
            <li>위치정보 이용약관</li>
            <li>윤리경영</li>
        </ul>
        <div class="info">
            <span>주소: 서울특별시 노원구 OO동 OO로 OO길</span>
            <span>(주)Cloth Keeper 대표☆☆☆</span>
            <span>TEL: 02) 0000 - 1111 / FAX: 02) 0000 - 1112</span>
            <span><a th:href="@{/notice/list}">공지사항</a></span>
        </div>
        <p class="copyroight">
            &copy; <span class="this-year"></span> Cloth Keeper Company. All Rights Reseved.
        </p>
        <img th:src="@{/images/logo.png}" alt="" class="logo">
    </div>
</div>
</body>

</html>