<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/baseLayout}">
<head>
    <meta charset="UTF-8">
    <title>판매자 상품 리스트</title>
</head>
<body>
    <div class="header">
        <div class="nav">
            <div class="gnb">
                <ul>
                    <li>
                        <a th:href="@{/productList}">나의 상품 리스트 보기</a>
                    </li>
                    <li>
                        내 정보
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <ul>
            <li>
                <div class="productList">
                    <a th:href="@{/}">
                        <img th:src="@{/detail}" alt="no img">
                    </a>
                    <div class="title">상품 제목</div>
                </div>
            </li>
        </ul>
    </div>

    .



</body>
</html>