<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/baseLayout}">
<head>
    <meta charset="UTF-8">
    <title>어드민 페이지 입니다</title>
</head>
<body>
<h1>Admin 메인 페이지 로그인 페이지 입니다</h1>
<div class="loginBox">
    <div class="section">
        <div class="title">
            <h1>admin or seller</h1>
        </div>
        <div class="loginForm">
            <form th:action="@{/admin/login}" method="post">
                <input type="text" id="userId" name="userId" placeholder="userId">
                <input type="text" id="password" name="password" placeholder="password">
                <input type="submit" value="login">
            </form>
        </div>
    </div>
</div>


</body>
</html>