<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/member/confirmPw_changePassword.js}" defer="defer"></script>
</head>
<body>
<!--<div th:replace="~{fragments/common/header :: headerFragment}"></div>-->
<div class="password-change">
    <h1>비밀번호 변경</h1>
    <form id="changePasswordForm" th:action="@{/member/changePassword}" method="post">
        <ul>
            <li>
                <input type="hidden" name="memberId" id="memberId" th:value="${memberId}">
            </li>
            <li>
                <label th:for="currentPassword">현재 비밀번호</label>
                <input type="password" name="currentPassword" id="currentPassword" placeholder="현재 비밀번호" required="required"> <br>
                <button type="button" id="checkCurrentPasswordBtn">현재 비밀번호 확인</button>
                <div id="currentPasswordMessage" style="color: red;"></div>
            </li>
            <li>
                <label th:for="newPassword">신규 비밀번호</label>
                <input type="password" name="newPassword" id="newPassword" placeholder="신규 비밀번호" required="required"> <br>
            </li>
            <li>
                <label th:for="confirmNewPassword">신규 비밀번호 확인</label>
                <input type="password" name="confirmNewPassword" id="confirmNewPassword" placeholder="신규 비밀번호 확인" required="required"> <br>
            </li>
            <font id="checkMessage" size="2"></font>
            <button type="submit" id="changePasswordBtn">비밀번호 변경</button>
        </ul>
    </form>
</div>
</body>
</html>