<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 확인</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/member/confirmPw_confirmPassword.js/}" defer="defer"></script>
</head>
<body>
<!--<div th:replace="~{fragments/common/header :: headerFragment}"></div>-->
<h1>비밀번호 확인</h1>
<form th:action="@{/member/confirmPassword}" method="post">
    <ul>
        <li>
            <input type="hidden" name="memberId" id="memberId" th:value="${memberId}">
        </li>
        <li>
            <label th:for="currentPassword">비밀번호</label>
            <input type="password" name="currentPassword" id="currentPassword" placeholder="비밀번호를 입력해주세요" required="required"> <br>
            <button type="button" id="checkCurrentPasswordBtn">비밀번호 확인</button>
            <div id="currentPasswordMessage" style="color: red;"></div>
        </li>
    </ul>
    <button type="submit" id="changePasswordBtn">비밀번호 변경</button>
</form>
</body>
</html>