@import url(/css/common/reset.css);
@import url(/css/common/header.css);
@import url(/css/common/footer.css);
/*수정수정*/
.List{
    width: 100%;
    display: flex;
    justify-content: center;
}
.List .List-con{
    flex-basis: 1300px;
    min-height: 500px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.List .List-con .List-title{
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.List .List-con .type{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 10px;
}
.List .List-con .type ul{
    flex-basis: 1400px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    /* align-items: center; */
}
.List .List-con .type >ul>li{
    width: 50px;
    height: 50px;
    display: flex;
    flex: 2;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 5px #cccccc;
    align-items: center;
}
.List .List-con .type >ul>li a{
  font-size:25px;
  font-weight:bold;
  align-items: center;
}
table, th, td{
    border-collapse: collapse;
    border: 1px solid #A8AABC;
    border-left: none;
    border-right: none;
    text-align: center;
}
.List .List-con table{
    width: 100%;
}
.List .List-con table thead tr th{
    border-top: 2px solid #7286D3;
    font-size: 17px;
    padding: 10px;
}
/* .List .List-con table thead tr:nth-child(2) th{
    background-color: #7286D3;
    font-size: 20px;
    padding: 10px;
} */
.List .List-con table tbody tr td{
    padding: 10px 0;
}
.List .List-con table tbody tr td .title{
    text-align: left;
}
.List .List-con .page{
    padding: 10px 0;
    box-sizing: borer-box;
    display: flex;
    justify-content: center;
}
.List .List-con .page >ul{
    flex-basis: 400px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
}
.List .List-con .page >ul>li{
}
.List .List-con .page >ul>li.block{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.List .List-con .page > ul> li.block a{
    font-weight:bold;
    padding:0 10px;
    display:block;
}
.List .List-con .page > ul> li span{
   font-size:12px;
}
.List .List-con .page > ul> li a{
  font-size:12px;
  font-weight:bold;
}
.List .List-con .page > ul> li span.span0{
  color: #4E815F;
  font-weight:bold;
  padding:2px 10px;
  border-radius:5px;
}
.List .List-con .pages > ul> li span a.span1{
  padding:2px 10px;
  font-weight: bold;
  color: #4E815F;
}