@import url(/css/common/reset.css);
@import url(/css/common/cream_header.css);
@import url(/css/common/footer.css);
.List{
    width: 100%;
    display: flex;
    justify-content: center;
}
.List .List-con{
    flex-basis: 1300px;
    min-height: 500px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.List .List-con .List-title{
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.List .List-con .List-title .title table {
    border-top: none;
}
.List .List-con .List-title .title table tr td{
    font-weight: bold;
    border-top: none;
    border-bottom: 2px solid #7286D3;
}
.List .List-con .type{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 10px;
}
.List .List-con .type ul{
    flex-basis: 1400px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    /* align-items: center; */
}
.List .List-con .type >ul>li{
    width: 50px;
    height: 50px;
    display: flex;
    flex: 2;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 5px #cccccc;
    align-items: center;
}
.List .List-con .type >ul>li a{
  font-size:25px;
  font-weight:bold;
  align-items: center;
}
table, th, td{
    border-collapse: collapse;
    border: 1px solid #A8AABC;
    border-left: none;
    border-right: none;
    text-align: center;
}
.List .List-con table{
    width: 100%;
}
.List .List-con table thead tr th{
    border-top: 2px solid #7286D3;
    font-size: 17px;
    padding: 10px;
}
/* .List .List-con table thead tr:nth-child(2) th{
    background-color: #7286D3;
    font-size: 20px;
    padding: 10px;
} */
.List .List-con table tbody tr td{
    padding: 10px 0;
}
.List .List-con table tbody tr td .title{
    text-align: left;
}