<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>간편 회원가입</title>
    <link rel="stylesheet" th:href="@{/css/semiMember/join.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/member/checkDuplicate_semi.js}" defer="defer"></script>
    <script th:src="@{/js/member/email_semi.js}" defer="defer"></script>
    <script th:src="@{/js/member/join_semiEmail.js}" defer="defer"></script>
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<div class="container">
    <div class="join">
        <div class="join-con">
            <div class="title">
                <h1>간편 회원가입</h1>
            </div>
            <div class="join-form">
                <form th:action="@{/semiMember/join}" method="post" id="signupForm" th:object="${semiMemberDto}">
                    <ul>
<!--                        <li>-->
<!--                            <label th:for="semiMemberEmail">이메일</label>-->
<!--                            <input type="email" th:field="*{semiMemberEmail}" required="required" placeholder="이메일 입력">-->
<!--                            <button type="button" id="emailCheckButton">이메일 중복 확인</button>-->
<!--                        </li>-->
<!--                        <p th:if="${#fields.hasErrors('semiMemberEmail')}" th:errors="*{semiMemberEmail}" class="error"></p>-->
<!--                        <li>-->
<!--                            <d id="emailAvailable" class="valid-feedback" style="display: none;"></d>-->
<!--                            <d id="emailNotAvailable" class="invalid-feedback" style="display: none;"></d>-->
<!--                        </li>-->
                        <li>
                            <div class="input-group">
                                <label>이메일</label>
                                <input type="text" id="emailId" name="emailId" required="required" placeholder="이메일 아이디 입력"><span> @ </span>
                                <input type="text" id="domainCustom" name="domainCustom" placeholder="도메인 직접 입력">
                                <select id="domainList" required="required">
                                    <option value="custom">직접 입력</option>
                                    <option value="gmail.com">gmail.com</option>
                                    <option value="naver.com">naver.com</option>
                                    <option value="nate.com">nate.com</option>
                                    <option value="daum.net">daum.net</option>
                                </select>
                                <input type="text" id="semiMemberEmail" name="semiMemberEmail" value="">
                                <button type="button" id="emailCheckButton">이메일 중복 확인</button>
                            </div>
                            <d id="emailAvailable" class="valid-feedback" style="display: none;"></d>
                            <d id="emailNotAvailable" class="invalid-feedback" style="display: none;"></d>
                        </li>
                        <!-- 인증번호 입력란 -->
                        <li>
                            <label th:for="emailVerificationCode">인증번호</label>
                            <input type="text" id="emailVerificationCode" placeholder="인증번호 입력">
                            <button type="button" id="verifyEmailButton">인증번호 확인</button>
                        </li>
                        <!-- 이메일 인증 버튼 -->
                        <li>
                            <button type="button" id="certifyEmailButton">인증번호 전송</button>
                        </li>
                        <!-- 인증 결과 메시지 영역 -->
                        <li>
                            <div id="certifyEmailMessage" class="valid-feedback" style="display: none;"></div>
                        </li>
                        <li>
                            <label th:for="semiMemberPhone">휴대전화</label>
                            <input type="text" th:field="*{semiMemberPhone}" required="required" placeholder="- 제외하고 입력해주세요">
                        </li>
                        <p th:if="${#fields.hasErrors('semiMemberPhone')}" th:errors="*{semiMemberPhone}" class="error"></p>
                        <!-- 닉네임 중복 확인 버튼 -->
                        <li>
                            <button type="button" id="phoneCheckButton">휴대전화 중복 확인</button>
                        </li>
                        <!-- 중복 확인 결과 메시지 영역 -->
                        <li>
                            <d id="phoneAvailable" class="valid-feedback" style="display: none;"></d>
                            <d id="phoneNotAvailable" class="invalid-feedback" style="display: none;"></d>
                        </li>
                        <li>
                            <input type="submit" value="간편 회원가입">
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</html>