<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="headerFragment">
  <div class="nav">
    <div class="top-nav">
      <div class="top-menu">
        <ul>
          <li><a th:href="@{/}">고객센터</a></li>
          <li><a th:href="@{/notice/list}">공지사항</a></li>
          <li><a th:href="@{/}">내 정보(로그인 일떄)</a></li>
          <li><a th:href="@{/}">마이페이지(로그인 일떄)</a></li>
          <li><a th:href="@{/login}">로그인(비 로그인 일때)</a></li>
          <li><a th:href="@{/}">회원가입(비 로그인 일때)</a></li>
        </ul>
      </div>
    </div>
    <div class="middle-nav">
      <h1 class="logo">
        <a th:href="@{/}"><img th:src="@{/images/logo2.png}" alt="logo"></a>
      </h1>
      <div class="middle-menu">
        <ul>
          <li><a th:href="@{/}">HOME</a></li>
          <li><a th:href="@{/product/list}">PRODUCT</a></li>
          <li><a th:href="@{/}"><img th:src="@{/images/zoom.png}" alt="zoom"></a></li>
        </ul>
      </div>
    </div>
    <div class="bottom-nav">
      <div class="gnb">
        <ul>
          <li><a th:href="@{/}">PROJECTNAME</a></li>
          <li><a th:href="@{/}">null</a></li>
          <li><a th:href="@{/}">null</a></li>
          <li><a th:href="@{/}">null</a></li>
          <li><a th:href="@{/}">null</a></li>
          <li><a th:href="@{/}">null</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</html>