.footer{
    margin-top : 40px;
    width: 100%;
    background-color: #CDD4EF;
    border-top: 1px solid rgba(229, 224, 255, 0.669);
}
.footer .nav{
    width: 1400px;
    padding: 40px 0 60px 0;
}
.footer .nav a h2{
    padding: 10px;
    gap: 10px;
}
.footer .nav .menu{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.footer .nav .menu>ul>li{
    position: relative;
}
.footer .nav .menu>ul>li::before{
    content: "";
    width: 3px;
    height: 3px;
    background-color: #D7CFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    margin: auto;
}
.footer .nav .menu>ul>li:last-child::before{
    display: none;
} 
.footer .nav .info{
    margin-top: 30px;
    text-align: center;
}
.footer .nav .info span{
    margin-right: 20px;
    font-size: 15px;
}
.footer .nav .info span:last-child{
    font-weight: bold;
}
.footer .nav .copyright{
    display: flex;
    justify-content: center;
    /* box-sizing: border-box; */
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
}
.footer .nav .logo{
    margin: 30px auto 0;
}