<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/firstTeam}"
>
<th:block layout:fragment="title">
  <title>firstTeam index</title>
</th:block>
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/cream_index.css}">
</th:block>
<th:block layout:fragment="script">
  <!--  <script th:src="${/js/index.js}"></script>-->
</th:block>
<th:block layout:fragment="container">
  <div class="container">
    <div class="index">
      <div class="index-con">
        <div class="sections">
          <div class="section sec1">
            <div class="con">
              AUTOGALLERY
            </div>
          </div>
          <div class="section sec2">
            <div class="con">
              <div class="sub1">
                <ul>
                  <li>ITEM</li>
                  <li>ITEM</li>
                  <li>ITEM</li>
                  <li>ITEM</li>
                  <li>ITEM</li>
                  <li>ITEM</li>
                  <li>ITEM</li>
                  <li>ITEM</li>
                  <li>ITEM</li>
                  <li>ITEM</li>
                </ul>
              </div>
              <div class="sub2">
                <h1 class="title">발매상품</h1>
                <ul>
                  <li>
                    <img th:src="@{/images/item0.jpg}" alt="">
                    <div>SUB1 ITEM</div>
                  </li>
                  <li>
                    <img th:src="@{/images/item1.jpg}" alt="">
                    <div>SUB2 ITEM</div>
                  </li>
                  <li>
                    <img th:src="@{/images/item2.jpg}" alt="">
                    <div>SUB2 ITEM</div>
                  </li>
                  <li>
                    <img th:src="@{/images/item3.jpg}" alt="">
                    <div>SUB2 ITEM</div>
                  </li>
                  <li>
                    <img th:src="@{/images/item4.jpg}" alt="">
                    <div>SUB2 ITEM</div>
                  </li>
                  <li>
                    <img th:src="@{/images/item5.jpg}" alt="">
                    <div>SUB2 ITEM</div>
                  </li>
                  <li>
                    <img th:src="@{/images/bag34.jpg}" alt="">
                    <div>SUB2 ITEM</div>
                  </li>
                  <li>
                    <img th:src="@{/images/bag34.jpg}" alt="">
                    <div>SUB2 ITEM</div>
                  </li>
                </ul>
              </div>
              <div class="sub2">
                <h1 class="title">메인 섹션 3</h1>
                <ul>
                  <li>
                    <img th:src="@{/images/item0.jpg}" alt="">
                    <div>SUB1 ITEM</div>
                  </li>
                  <li>
                    <img th:src="@{/images/item1.jpg}" alt="">
                    <div>SUB2 ITEM</div>
                  </li>
                  <li>
                    <img th:src="@{/images/item2.jpg}" alt="">
                    <div>SUB2 ITEM</div>
                  </li>
                  <li>
                    <img th:src="@{/images/item3.jpg}" alt="">
                    <div>SUB2 ITEM</div>
                  </li>
                  <li>
                    <img th:src="@{/images/item4.jpg}" alt="">
                    <div>SUB2 ITEM</div>
                  </li>
                  <li>
                    <img th:src="@{/images/item5.jpg}" alt="">
                    <div>SUB2 ITEM</div>
                  </li>
                  <li>
                    <img th:src="@{/images/bag34.jpg}" alt="">
                    <div>SUB2 ITEM</div>
                  </li>
                  <li>
                    <img th:src="@{/images/bag34.jpg}" alt="">
                    <div>SUB2 ITEM</div>
                  </li>
                </ul>
              </div>
              <div class="sub2">
                <h1 class="title">메인 섹션 4</h1>
                <ul>
                  <li>
                    <img th:src="@{/images/item0.jpg}" alt="">
                    <div>SUB1 ITEM</div>
                  </li>
                  <li>
                    <img th:src="@{/images/item1.jpg}" alt="">
                    <div>SUB2 ITEM</div>
                  </li>
                  <li>
                    <img th:src="@{/images/item2.jpg}" alt="">
                    <div>SUB2 ITEM</div>
                  </li>
                  <li>
                    <img th:src="@{/images/item3.jpg}" alt="">
                    <div>SUB2 ITEM</div>
                  </li>
                  <li>
                    <img th:src="@{/images/item4.jpg}" alt="">
                    <div>SUB2 ITEM</div>
                  </li>
                  <li>
                    <img th:src="@{/images/item5.jpg}" alt="">
                    <div>SUB2 ITEM</div>
                  </li>
                  <li>
                    <img th:src="@{/images/bag34.jpg}" alt="">
                    <div>SUB2 ITEM</div>
                  </li>
                  <li>
                    <img th:src="@{/images/bag34.jpg}" alt="">
                    <div>SUB2 ITEM</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>
</html>