<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:fragment="title">
    <title>로그인</title>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</th:block>
<th:block layout:fragment="javascript">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/member/tempPasswordLogin.js}" defer="defer"></script>
</th:block>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<!--<div th:replace="~{fragments/common/header_SONG :: headerFragment}"></div>-->
<th:block layout:fragment="container">
    <div class="container">
        <div class="login">
            <div class="login-con">
                <div class="title">
                    <h1>로그인</h1>
                </div>
                <div class="login-form">

                    <div class="adminBtn loginBtn">
                        <a href="/admin/index" class="loginA">관리자 로그인</a>
                    </div>

                    <div class="loginBtn">
                        <a th:href="@{/member/login}" class="loginA">일반회원 로그인</a>
                    </div>
                    <div class="semiBtn">
                        <a th:href="@{/semiMember/login}" class="semilogin">간편회원 로그인</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</html>