<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>문의사항 상세 페이지</title>
    <link rel="stylesheet" th:href="@{/css/inquiry/detail.css}">
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<div class="container">
    <div class="detail">
        <div class="detail-con">
            <div class="board-con">
                <h1>문의사항</h1>
                <ul>
                    <li>
                        <span>제목</span>
                        <span th:text = "${inquiryDto.inquiryTitle}"></span>
                    </li>
                    <li>
                        <span>작성자</span>
                        <span th:text="${inquiryDto.inquiryWriter}"></span>
                    </li>
                    <li>
                        <span>작성날짜</span>
                        <span th:text="${#temporals.format(inquiryDto.CreateTime, 'yyyy년 MM월 dd일 hh시 mm분')}"></span>
                    </li>
                    <li>
                        <span>수정날짜</span>
                        <span th:text="${#temporals.format(inquiryDto.UpdateTime, 'yyyy년 MM월 dd일 hh시 mm분')}"></span>
                    </li>
                    <li>
                        <span>조회수</span>
                        <span th:text = "${inquiryDto.inqHit}"></span>
                    </li>
                    <li>
                        <span th:text = "${inquiryDto.inquiryContent}" class="content"></span>
                    </li>
                    <li>
                        <a th:href="@{/inquiry/delete/{id}(id=${inquiryDto.inqId})}">삭제하기</a>
                        <a th:href="@{/inquiry/update/{id}(id=${inquiryDto.inqId})}">수정하기</a>
                    </li>
                    <li>
                        <a th:href="@{/inquiry/list?page=0&select&search=}">LIST</a>
                    </li>
                </ul>
            </div>
            <!--댓글-->
            <div class="reply-con">
                <div class="reply-write">
                    <form action="@{/notice/}">
                        <!-- 번호 -->
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</html>