<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>문의사항 작성</title>
    <link rel="stylesheet" th:href="@{/css/inquiry/write.css}">
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
    <div class="container">
        <div class="write">
            <div class="write-con">
                <form th:action="@{/inquiry/write}" method="post" accept-charset="utf-8" th:object="${inquiryDto}">
                    <div class="write-form">
                        <h1>문의사항 작성</h1>
                        <ul>
                            <li>
                                <select name="Type" id="inquiryType" th:field="*{inqType}">
                                    <option th:value="''" disabled>===종류 선택===</option>
                                    <option th:value="'product'">상품</option>
                                    <option th:value="'delivery'">배송</option>
                                    <option th:value="'etc'">기타</option>
                                </select>
                            </li>
                            <li>
                                <label th:for="title">제목</label>
                                <input type="text" th:field="*{inquiryTitle}" placeholder="제목을 입력하세요.">
                            </li>
                            <li>
                                <label th:for="img">파일/label>
                                <input type="file" name="inquiryImg" id="inquiryImg">
                            </li>
                            <li>
                                <label th:for="content">내용</label>
                                <textarea rows="20" th:field="*{inquiryContent}" placeholder="문의사항을 작성하세요" class="content"/>
                            </li>
                            <li>
                                <label th:for="writer">글쓴이</label>
                                <input type="text" th:field="*{inquiryWriter}">
                            </li>
                            <li>
                                <input type="submit" value="작성">
                                <input type="reset" value="취소">
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</html>