@import url(/css/common/reset.css);
/* @import url(/css/common/header.css);
@import url(/css/common/footer.css); */

table,th,td{
    border-collapse: collapse;
    border: 1px solid #cccccc;
    text-align: center;
}
tr{
    height: 30px;
}
.product {
    width: 1000px;
    height: auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 20px;
}
.product .table_id {
    width: 10%;
    text-align: center;
}
.product .table_title {
    width: 50%;
    text-align: center;
}
.product .table_writer {
    width: 15%;
    text-align: center;
}
.product .table_date {
    width: 15%;
    text-align: center;
}
.product .table_hits {
    width: 10%;
    text-align: center;
}

/* 이 밑으로는 페이징 처리 로직이 포함되어 있으니 작업전에 물어봐주세요. */
.searchBar_wrap{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}
.searchBar_wrap .searchBar {
    /* align-items: center;
    margin-left: 20px; */
}

.searchBar input[type="text"] {
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.pagination_wrap {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.pagination {
    display: flex;
    align-items: center;
    /* border: 1px solid #cccccc; */
    padding: 10px 20px;
    border-radius: 5px;
}
.invisible {
    visibility: hidden;
}
.pagination a, .pagination strong {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.pagination strong {
    background-color: #ddd;
}

.toFirstPage, .toPrev10Page, .toNext10Page, .toLastPage {
    display: inline-block;
    margin: 0 10px;
}




